In [69]:
from preprocessing import calculate_append_severity_scores, encode_class_scores
import pandas as pd

In [70]:
df = pd.read_csv('datasets/violations.csv')
df = encode_class_scores(violation_df=df)
df = calculate_append_severity_scores(violation_df=df)

In [71]:
df.head()

,violationid,buildingid,registrationid,boroid,boro,housenumber,lowhousenumber,highhousenumber,streetname,streetcode,...,councildistrict,censustract,bin,bbl,nta,certifieddate,newcertifybydate,newcorrectbydate,risk_score,risk_score_cat
0,10413107,53116,204446,2,BRONX,3565,3565,3565,BRUCKNER BOULEVARD,15920,...,13.0,26602.0,2046331.0,2.041780e+09,Pelham Bay-Country Club-City Island,NaN,NaN,NaN,1,1
1,10325067,70433,222588,2,BRONX,1120,1120,1120,EAST 225 STREET,28380,...,12.0,386.0,2090246.0,2.049030e+09,Eastchester-Edenwald-Baychester,NaN,NaN,NaN,1,1
2,10318007,43087,126972,1,MANHATTAN,504,504,506,WEST 167 STREET,37110,...,10.0,251.0,1062962.0,1.021230e+09,Washington Heights South,2014-09-25T00:00:00.000,NaN,NaN,0,0
3,10281624,92541,202243,2,BRONX,1023,1023,1023,LONGWOOD AVENUE,46820,...,17.0,89.0,2005744.0,2.027210e+09,Hunts Point,2014-07-03T00:00:00.000,NaN,NaN,1,1
4,10291962,150298,360978,3,BROOKLYN,837,837,837,43 STREET,8730,...,38.0,92.0,3018366.0,3.009250e+09,Sunset Park East,NaN,NaN,NaN,1,1

In [72]:
X = df.drop(columns=["risk_score", "risk_score_cat"])
y = df["risk_score_cat"]

In [73]:
X.columns

Index(['violationid', 'buildingid', 'registrationid', 'boroid', 'boro',
       'housenumber', 'lowhousenumber', 'highhousenumber', 'streetname',
       'streetcode', 'zip', 'apartment', 'story', 'block', 'lot', 'class',
       'inspectiondate', 'approveddate', 'originalcertifybydate',
       'originalcorrectbydate', 'ordernumber', 'novid', 'novdescription',
       'novissueddate', 'currentstatusid', 'currentstatus',
       'currentstatusdate', 'novtype', 'violationstatus', 'rentimpairing',
       'latitude', 'longitude', 'communityboard', 'councildistrict',
       'censustract', 'bin', 'bbl', 'nta', 'certifieddate', 'newcertifybydate',
       'newcorrectbydate'],
      dtype='object')

In [74]:
for column in df.columns:
    print(f"{column}")
    print(df[column].value_counts())
    print()

violationid
10413107    1
13928485    1
13721122    1
13546784    1
13910974    1
           ..
12023463    1
11623655    1
11647953    1
11852527    1
16174759    1
Name: violationid, Length: 99992, dtype: int64

buildingid
65537     64
119285    59
344337    57
77561     56
806375    55
          ..
705448     1
481124     1
268783     1
649132     1
679596     1
Name: buildingid, Length: 36294, dtype: int64

registrationid
0         3057
207907      64
201131      59
332011      57
201115      56
          ...
207852       1
344078       1
404847       1
214298       1
401292       1
Name: registrationid, Length: 33770, dtype: int64

boroid
3    36232
2    31981
1    20925
4     9485
5     1369
Name: boroid, dtype: int64

boro
BROOKLYN         36232
BRONX            31981
MANHATTAN        20925
QUEENS            9485
STATEN ISLAND     1369
Name: boro, dtype: int64

housenumber
20        239
15        231
125       216
1         203
250       200
         ...
135-24      1
111-08      1
2154        1
3159        1
36A         1
Name: housenumber, Length: 8182, dtype: int64

lowhousenumber
1        245
2        212
250      210
20       198
11       174
        ...
8789       1
9512       1
617A       1
47-42      1
36A        1
Name: lowhousenumber, Length: 8154, dtype: int64

highhousenumber
20       239
15       227
180      191
130      188
131      181
        ...
81-35      1
42-41      1
52-65      1
71A        1
36A        1
Name: highhousenumber, Length: 8240, dtype: int64

streetname
GRAND CONCOURSE       1421
BROADWAY              1016
OCEAN AVENUE           995
ST NICHOLAS AVENUE     759
WALTON AVENUE          758
                      ...
TABB PLACE               1
BRIGHTON 3 PLACE         1
BEACH 48 STREET          1
CANEY ROAD               1
176 PLACE                1
Name: streetname, Length: 3325, dtype: int64

streetcode
36420    1421
67530     999
13610     951
72720     758
11710     749
         ...
44590       1
37520       1
95400       1
15350       1
24885       1
Name: streetcode, Length: 3319, dtype: int64

zip
11226.0    4076
10457.0    2962
10458.0    2884
10453.0    2839
10452.0    2753
           ...
11001.0       3
10129.0       1
10280.0       1
1901.0        1
10069.0       1
Name: zip, Length: 181, dtype: int64

apartment
2        2683
1        2536
3        1465
1A       1381
1B       1321
         ...
C37         1
BMEN        1
S21         1
53W         1
APT2K       1
Name: apartment, Length: 2903, dtype: int64

story
1      24804
2      18463
3      14684
4      11485
5       8195
       ...
233        1
808        1
46         1
883        1
501        1
Name: story, Length: 71, dtype: int64

block
2136     267
1988     239
2170     212
2215     210
4271     203
        ...
13291      1
250        1
7936       1
2737       1
970        1
Name: block, Length: 7712, dtype: int64

lot
1      6919
6      1818
5      1616
29     1609
40     1598
       ...
317       1
545       1
658       1
493       1
239       1
Name: lot, Length: 508, dtype: int64

class
1    50515
0    25056
2    24421
Name: class, dtype: int64

inspectiondate
2021-04-02T00:00:00.000    179
2021-04-01T00:00:00.000    158
2022-02-16T00:00:00.000    150
2021-04-20T00:00:00.000    144
2022-02-22T00:00:00.000    142
                          ...
2002-06-11T00:00:00.000      1
2009-08-17T00:00:00.000      1
2005-10-25T00:00:00.000      1
1989-03-15T00:00:00.000      1
2010-05-08T00:00:00.000      1
Name: inspectiondate, Length: 5125, dtype: int64

approveddate
2021-04-02T00:00:00.000    177
2021-04-01T00:00:00.000    160
2022-02-16T00:00:00.000    148
2022-03-01T00:00:00.000    146
2021-04-16T00:00:00.000    145
                          ...
1988-03-14T00:00:00.000      1
2013-11-14T00:00:00.000      1
2010-08-09T00:00:00.000      1
2011-07-15T00:00:00.000      1
2010-05-13T00:00:00.000      1
Name: approveddate, Length: 5139, dtype: int64

originalcertifybydate
2021-07-20T00:00:00.000    192
2021-07-26T00:00:00.000    153
2021-08-03T00:00:00.000    139
2021-07-19T00:00:00.000    139
2022-06-11T00:00:00.000    133
                          ...
2020-05-13T00:00:00.000      1
2016-02-20T00:00:00.000      1
2017-02-18T00:00:00.000      1
2014-02-14T00:00:00.000      1
2014-01-16T00:00:00.000      1
Name: originalcertifybydate, Length: 3720, dtype: int64

originalcorrectbydate
2021-07-06T00:00:00.000    194
2021-07-12T00:00:00.000    153
2021-07-05T00:00:00.000    144
2022-05-28T00:00:00.000    138
2021-07-20T00:00:00.000    136
                          ...
2014-02-02T00:00:00.000      1
2017-06-17T00:00:00.000      1
2016-11-13T00:00:00.000      1
2016-05-01T00:00:00.000      1
2014-03-30T00:00:00.000      1
Name: originalcorrectbydate, Length: 3713, dtype: int64

ordernumber
508     10453
502      7178
501      6050
556      5726
1507     3998
        ...
1032        1
835         1
630         1
771         1
225         1
Name: ordernumber, Length: 264, dtype: int64

novid
5361744    4
5466131    4
5412645    4
8459877    4
6565054    4
          ..
5731010    1
5842778    1
5783897    1
5816450    1
8607189    1
Name: novid, Length: 97416, dtype: int64

novdescription
(A) ï¿½ HMC:FILE ANNUAL BEDBUG REPORT IN ACCORDANCE WITH HPD RULE AS DESCRIBED ON THE BACK OF THIS NOTICE OF VIOLATION OR AS DESCRIBED ON HPD?S WEBSITE, WWW.NYC.GOV\HPD, SEARCH BED BUGS.                                                                       1950
(A) ï¿½ HMC:FILE ANNUAL BEDBUG REPORT IN ACCORDANCE WITH HPD RULE AS DESCRIBED ON THE BACK OF THIS NOTICE OF VIOLATION OR AS DESCRIBED ON HPD'S WEBSITE, WWW.NYC.GOV\HPD, SEARCH BED BUGS.                                                                       1376
(A) § HMC:FILE ANNUAL BEDBUG REPORT IN ACCORDANCE WITH HPD RULE AS DESCRIBED ON THE BACK OF THIS NOTICE OF VIOLATION OR AS DESCRIBED ON HPDS WEBSITE, WWW.NYC.GOV\HPD, SEARCH BED BUGS.                                                                          672
SECTION 26-1103 ADMIN. CODE: POST AND MAINTAIN A PROPER NOTICE ON WALL OF THE ENTRANCE STORY IN ENGLISH AND SPANISH ON THE AVAILABILITY OF THE AGENCY?S HOUSING INFORMATION GUIDE. A SAMPLE NOTICE CAN BE FOUND AT WWW.NYC.GOV/HPD. AT PUBLIC HALL, 1st STORY     441
SECTION 27-2104 ADM CODE POST AND MAINTAIN A PROPER SIGN ON WALL OF ENTRANCE STORY SHOWING THE REGISTRATION NUMBER ASSIGNED BY THE DEPARTMENT AND THE ADDRESS OF THE BUILDING. AT PUBLIC HALL, 1st STORY                                                          414
                                                                                                                                                                                                                                                                 ...
SECTION 27-2013 ADM CODE PAINT WITH LIGHT COLORED PAINT TO THE SATISFACTION OF THIS DEPARTMENT ALL WALLS AND CEILINGS IN THE ENTIRE APARTMENT LOCATED AT APT 1F, 1st STORY                                                                                          1
SECTION 27-2005, 2007 ADM CODE REMOVE THE ILLEGAL FASTENING CONSISTING OF A SLIDE BOLT AND HASP INSTALLED ON DOOR CAPABLE OF BEING LOCKED IN THE ENTRANCE LOCATED AT APT 1A, 1st STORY, 2nd APARTMENT FROM SOUTH AT WEST                                            1
SECTION 27-2013 ADM CODE PAINT WITH LIGHT COLORED PAINT TO THE SATISFACTION OF THIS DEPARTMENT THE BASEBOARD AT SOUTH WALL IN THE PRIVATE HALLWAY LOCATED AT APT 3, 3rd STORY, 1st APARTMENT FROM NORTH AT EAST                                                     1
SECTION 27-2046.1 HMC: REPAIR OR REPLACE THE CARBON MONOXIDE DETECTING DEVICE(S). INOPERATIVE IN THE ENTIRE APARTMENT LOCATED AT APT 2J, 2nd STORY, 1st APARTMENT FROM SOUTH AT WEST                                                                                1
§ 27-2005, 2007 ADM CODE REMOVE ALL ENCUMBRANCES CONSISTING OF BICYCLE UNDER NORTH STAIRCASE AT PUBLIC HALL, 1st STORY                                                                                                                                              1
Name: novdescription, Length: 85289, dtype: int64

novissueddate
2021-04-02T00:00:00.000    181
2022-02-22T00:00:00.000    177
2021-04-12T00:00:00.000    158
2021-04-01T00:00:00.000    153
2021-04-05T00:00:00.000    149
                          ...
2020-03-27T00:00:00.000      4
2020-05-29T00:00:00.000      4
2020-05-01T00:00:00.000      4
2020-04-24T00:00:00.000      4
2020-04-02T00:00:00.000      3
Name: novissueddate, Length: 2491, dtype: int64

currentstatusid
19    48179
9     30847
2     12374
22     2521
21     2199
11     1136
4       617
28      590
20      570
47      562
7       108
23      107
8        84
6        59
10       23
3         8
50        5
24        2
49        1
Name: currentstatusid, dtype: int64

currentstatus
VIOLATION CLOSED                            48179
VIOLATION DISMISSED                         30847
NOV SENT OUT                                12374
FIRST NO ACCESS TO RE- INSPECT VIOLATION     2521
NOT COMPLIED WITH                            2199
VIOLATION WILL BE REINSPECTED                1136
NOV CERTIFIED LATE                            617
INVALID CERTIFICATION                         590
DEFECT LETTER ISSUED                          570
NOTICE OF ISSUANCE SENT TO TENANT             562
CERTIFICATION POSTPONMENT DENIED              108
SECOND NO ACCESS TO RE-INSPECT VIOLATION      107
FALSE CERTIFICATION                            84
CERTIFICATION POSTPONMENT GRANTED              59
CIV14 MAILED                                   23
NOV CERTIFIED ON TIME                           8
LEAD DOCS SUBMITTED, NOT ACCEPTABLE             5
VIOLATION REOPEN                                2
LEAD DOCS SUBMITTED, ACCEPTABLE                 1
Name: currentstatus, dtype: int64

currentstatusdate
2023-03-20T00:00:00.000    131
2022-02-22T00:00:00.000    125
2021-04-19T00:00:00.000    117
2015-10-02T00:00:00.000    115
2021-04-12T00:00:00.000    104
                          ...
2014-10-05T00:00:00.000      1
2014-08-03T00:00:00.000      1
2022-06-12T00:00:00.000      1
2019-11-28T00:00:00.000      1
2024-02-19T00:00:00.000      1
Name: currentstatusdate, Length: 3875, dtype: int64

novtype
Original    97543
Reissued     2449
Name: novtype, dtype: int64

violationstatus
Close    79976
Open     20016
Name: violationstatus, dtype: int64

rentimpairing
N    92823
Y     7169
Name: rentimpairing, dtype: int64

latitude
40.832584    65
40.829399    59
40.639709    57
40.844174    56
40.833578    55
             ..
40.690941     1
40.665681     1
40.628692     1
40.864213     1
40.710824     1
Name: latitude, Length: 33792, dtype: int64

longitude
-73.869201    64
-73.922802    59
-73.953068    58
-73.891670    56
-73.902879    55
              ..
-73.919085     1
-74.085839     1
-73.755343     1
-74.001012     1
-73.853100     1
Name: longitude, Length: 32834, dtype: int64

communityboard
12.0    11558
4.0      9822
9.0      9613
5.0      9407
7.0      7911
3.0      7561
8.0      5667
1.0      5595
14.0     5152
11.0     5015
10.0     4909
6.0      4874
17.0     4251
2.0      3683
16.0     1961
13.0     1134
15.0      942
18.0      847
Name: communityboard, dtype: int64

councildistrict
15.0    5966
14.0    5671
10.0    5075
40.0    5048
16.0    4915
17.0    4472
9.0     4341
7.0     4197
41.0    3899
36.0    3741
8.0     3524
37.0    3254
35.0    3086
42.0    2939
11.0    2697
45.0    2615
18.0    2538
34.0    2356
12.0    2170
38.0    1721
39.0    1431
3.0     1401
13.0    1385
44.0    1331
48.0    1293
2.0     1223
49.0    1157
33.0    1155
47.0    1140
31.0    1113
43.0    1084
6.0      991
1.0      953
21.0     940
26.0     841
5.0      799
22.0     742
27.0     738
25.0     734
24.0     681
28.0     634
29.0     614
20.0     587
46.0     565
4.0      550
30.0     517
32.0     512
23.0     191
19.0     163
50.0     148
51.0      64
Name: councildistrict, dtype: int64

censustract
225.0       780
245.0       740
291.0       687
261.0       657
253.0       654
           ...
138501.0      1
91601.0       1
63302.0       1
707.0         1
56302.0       1
Name: censustract, Length: 1390, dtype: int64

bin
2025588.0    64
2002915.0    59
3120374.0    57
2009965.0    56
2002176.0    55
             ..
3042693.0     1
3101745.0     1
3028464.0     1
4090139.0     1
4077087.0     1
Name: bin, Length: 36086, dtype: int64

bbl
3.042719e+09    171
4.159260e+09    100
2.024310e+09     88
3.013020e+09     84
5.012720e+09     75
               ...
3.015050e+09      1
1.004760e+09      1
3.018640e+09      1
3.042660e+09      1
4.032200e+09      1
Name: bbl, Length: 34967, dtype: int64

nta
Flatbush                                  2980
Crown Heights North                       2653
Washington Heights South                  2348
Mount Hope                                2321
Prospect Lefferts Gardens-Wingate         2110
                                          ...
Douglaston-Little Neck                       1
Bay Terrace-Clearview                        1
Tottenville-Charleston                       1
Whitestone-Beechhurst                        1
Annadale-Huguenot-Prince's Bay-Woodrow       1
Name: nta, Length: 305, dtype: int64

certifieddate
2015-06-01T00:00:00.000    46
2020-01-08T00:00:00.000    45
2018-01-16T00:00:00.000    40
2019-10-03T00:00:00.000    39
2016-10-28T00:00:00.000    39
                           ..
2004-01-16T00:00:00.000     1
2016-10-22T00:00:00.000     1
2016-10-02T00:00:00.000     1
2016-07-03T00:00:00.000     1
2023-07-22T00:00:00.000     1
Name: certifieddate, Length: 3440, dtype: int64

newcertifybydate
2015-09-07T00:00:00.000    4
2016-08-22T00:00:00.000    3
2022-06-02T00:00:00.000    3
2020-05-25T00:00:00.000    3
2015-09-12T00:00:00.000    3
                          ..
2017-05-03T00:00:00.000    1
2017-08-21T00:00:00.000    1
2017-09-05T00:00:00.000    1
2018-01-28T00:00:00.000    1
2023-06-02T00:00:00.000    1
Name: newcertifybydate, Length: 731, dtype: int64

newcorrectbydate
2015-09-02T00:00:00.000    4
2016-08-17T00:00:00.000    3
2022-05-28T00:00:00.000    3
2020-05-20T00:00:00.000    3
2015-09-07T00:00:00.000    3
                          ..
2017-04-28T00:00:00.000    1
2017-08-16T00:00:00.000    1
2017-08-31T00:00:00.000    1
2018-01-23T00:00:00.000    1
2023-05-28T00:00:00.000    1
Name: newcorrectbydate, Length: 731, dtype: int64

risk_score
1    50507
0    25056
2    24429
Name: risk_score, dtype: int64

risk_score_cat
1    50507
0    25056
2    24429
Name: risk_score_cat, dtype: int64

In [75]:
columns_to_drop = ["violationid", "buildingid", "registrationid", "boroid", "housenumber", "lowhousenumber", "highhousenumber", "streetname",
                   "class", "inspectiondate", "approveddate", "originalcertifybydate", "originalcorrectbydate",
                   "ordernumber", "novid", "novdescription", "novissueddate", "currentstatus", "novtype", 
                    "bin", "bbl", "nta", "certifieddate", "newcertifybydate", "newcorrectbydate", "currentstatusdate"]

In [76]:
# convert low cardinality to other
# streetcode, apartment, story,
# normalize / bucketize latitude and longtitude

In [77]:
X = X.drop(columns=columns_to_drop)
X.head()

,boro,streetcode,zip,apartment,story,block,lot,currentstatusid,violationstatus,rentimpairing,latitude,longitude,communityboard,councildistrict,censustract
0,BRONX,15920,10461.0,2D,2,4178,5,19,Close,N,40.847944,-73.827568,10.0,13.0,26602.0
1,BRONX,28380,10466.0,2F,2,4903,59,9,Close,N,40.883849,-73.848345,12.0,12.0,386.0
2,MANHATTAN,37110,10032.0,5C,5,2123,59,19,Close,N,40.839429,-73.937687,12.0,10.0,251.0
3,BRONX,46820,10459.0,NaN,5,2721,41,9,Close,N,40.816500,-73.896505,2.0,17.0,89.0
4,BROOKLYN,8730,11232.0,8,3,925,64,19,Close,N,40.644506,-73.998732,12.0,38.0,92.0

In [78]:
oe_vars = ["boro"]
ord_vars = ["violationstatus", "rentimpairing"]
scaler_vars = ["latitude", "longitude"]
pass_through_vars = list(set(list(X.columns)).difference(set(oe_vars + ord_vars + scaler_vars)))
print(pass_through_vars)

['block', 'censustract', 'zip', 'communityboard', 'story', 'streetcode', 'apartment', 'lot', 'councildistrict', 'currentstatusid']

In [79]:
X["apartment"] = X["apartment"].str.replace(r'\D', '', regex=True).replace('', 2.0).astype('float').clip(upper=10).fillna(2.0)

with pd.option_context('display.max_rows', None):
    print(X["apartment"].value_counts())

2.0     41939
1.0     13659
10.0    11356
3.0     11071
4.0      8307
5.0      6135
6.0      4245
7.0      1487
8.0       995
9.0       797
0.0         1
Name: apartment, dtype: int64

In [80]:
X["story"] = X["story"].str.replace(r'\D', '', regex=True).replace('', 1.0).astype('float').clip(upper=10).fillna('1.0')
with pd.option_context('display.max_rows', None):
    print(X["story"].value_counts())

1.0     31079
2.0     18463
3.0     14684
4.0     11485
5.0      8195
1.0      6360
6.0      5332
0.0      1801
10.0     1455
7.0       572
8.0       317
9.0       249
Name: story, dtype: int64

In [81]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.metrics import r2_score
from sklearn.svm import LinearSVC, SVC
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier

preprocess = make_column_transformer((OrdinalEncoder(), ord_vars), (StandardScaler(), scaler_vars), (OneHotEncoder(), oe_vars), ("passthrough", pass_through_vars))

In [82]:
cols = X.columns[X.isna().any()].tolist()
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy="most_frequent")
X[cols] = imp.fit_transform(X[cols])

In [83]:
X_dev, X_test, y_dev, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

In [84]:
pipe = make_pipeline(preprocess, DecisionTreeClassifier(random_state=42))
pipe.fit(X_dev, y_dev)
pipe.score(X_test, y_test)

0.4584729236461823

In [85]:
pipe = make_pipeline(preprocess, RandomForestClassifier(random_state=42))
pipe.fit(X_dev, y_dev)
pipe.score(X_test, y_test)

0.5212260613030651

In [87]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {
    "learning_rate": [0.01, 0.1, 0.2],
    "n_estimators": [10, 100, 200],
    "max_depth": [None, 10, 100]
}
pipe = make_pipeline(preprocess, GridSearchCV(XGBClassifier(random_state=42), cv=5, param_grid=param_grid))
pipe.fit(X_dev, y_dev)
print(pipe.named_steps["gridsearchcv"].best_score_)
print(pipe.named_steps["gridsearchcv"].best_params_)

0.5719000650754824
{'learning_rate': 0.1, 'max_depth': None, 'n_estimators': 100}

In [88]:
classifer = pipe.named_steps["gridsearchcv"].best_estimator_
pipe = make_pipeline(preprocess, classifer)
pipe.score(X_test, y_test)

0.5703285164258213