In [1]:
from preprocessing import calculate_append_severity_scores, encode_class_scores
import pandas as pd

In [2]:
df = pd.read_csv('datasets/violations.csv')
df = encode_class_scores(violation_df=df)
df = calculate_append_severity_scores(violation_df=df)

In [3]:
df.head()

,violationid,buildingid,registrationid,boroid,boro,housenumber,lowhousenumber,highhousenumber,streetname,streetcode,...,councildistrict,censustract,bin,bbl,nta,certifieddate,newcertifybydate,newcorrectbydate,risk_score,risk_score_cat
0,10413107,53116,204446,2,BRONX,3565,3565,3565,BRUCKNER BOULEVARD,15920,...,13.0,26602.0,2046331.0,2.041780e+09,Pelham Bay-Country Club-City Island,NaN,NaN,NaN,1,1
1,10325067,70433,222588,2,BRONX,1120,1120,1120,EAST 225 STREET,28380,...,12.0,386.0,2090246.0,2.049030e+09,Eastchester-Edenwald-Baychester,NaN,NaN,NaN,1,1
2,10318007,43087,126972,1,MANHATTAN,504,504,506,WEST 167 STREET,37110,...,10.0,251.0,1062962.0,1.021230e+09,Washington Heights South,2014-09-25T00:00:00.000,NaN,NaN,0,0
3,10281624,92541,202243,2,BRONX,1023,1023,1023,LONGWOOD AVENUE,46820,...,17.0,89.0,2005744.0,2.027210e+09,Hunts Point,2014-07-03T00:00:00.000,NaN,NaN,1,1
4,10291962,150298,360978,3,BROOKLYN,837,837,837,43 STREET,8730,...,38.0,92.0,3018366.0,3.009250e+09,Sunset Park East,NaN,NaN,NaN,1,1